/* headerHamburger.css */

/* Hamburger menu styles */
.hamburger-menu {
    cursor: pointer;
    font-size: 24px;
    margin-right: 10px;
    margin-left: 20px;
    margin-top: 10px;
  }
  
  /* Sidebar styles */
  .sidebar {
    position: fixed;
    top: 0;
    left: -250px;
    width: 250px;
    height: 100%;
    background-color: #fff;
    transition: left 0.5s ease-in-out;
    z-index: 999;
  }
  
  /* Show sidebar */
  .sidebar.show-sidebar {
    left: 0;
  }
  
  /* Sidebar navigation styles */
  .sidebar-navigation {
    list-style: none;
    padding: 20px 0;
    margin: 0;
  }
  
  .sidebar-navigation li {
    padding: 10px 20px;
  }
  
  .sidebar-navigation a {
    text-decoration: none;
    color: #333;
    display: block;
  }
  
  .sidebar-navigation a:hover {
    color: #555;
  }
  
  /* Dropdown menu styles */
  .sidebar-dropdown {
    display: none;
    background-color: #f9f9f9;
  }
  
  .sidebar-navigation li:hover .sidebar-dropdown {
    display: block;
    margin-top: 5px;
  }
  
  .sidebar-dropdown li {
    padding: 8px 20px;
  }
  