/* CSS for Product Card */
*{
  box-sizing: border-box;
}
.product-card {
    /* border: 1px solid #ccc; */
    border-radius: 8px;
    padding: 0px;
    margin: 10px;
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: 450px;
    margin:50px 40px;
    border:none;
  }

  .product-card:hover{
        scale: 1.02;
        box-shadow: 10px 10px 5px #d3d2d2;
        transition: 0.4s;

  }

  .product-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    /* border-radius: 8px; */
    margin-bottom: 12px;
  }
  
  .product-name {
    font-size: 1.2rem;
    margin-bottom: 8px;
    cursor: pointer;
    font-style: sans-serif;
  }
  
  .product-description {
    color: #666;
    margin-bottom: 12px;
  }
  
  .product-price {
    font-weight: bold;
    color: #333;
  }
  
  .btn-add-to-cart {
    padding: 8px 16px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .btn-add-to-cart:hover {
    background-color: #0056b3;
  }
  
  .img-style{
    width:1525px;
    margin-top: 20px;
    cursor:pointer;
  }

  .footer-style-logo{
    display: flex;
    align-items: center;
    margin:10px;
  }

  .dimension{
    width:510px;
    cursor: pointer;
    
  }
  