/* productDetailStyle.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-product-container {
  display: flex;
  flex-direction: row; /* For mobile */
  margin: 50px 0;
  justify-content: center;
  align-items: center;
}

.single-product-title {
  font-weight: bolder;
  font-size: 20px;
}

.product-stock-sku {
  margin: 10px 0px;
}

.product-sidebar {
  margin-top: 50px;
  margin-right: 70px;
}

.product-stock-price {
  font-weight: bolder;
  font-size: 20px;
}
/* For Mobile Devices......   */
@media (max-width: 780px) {
  .main-product-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .product-sidebar {
    margin: 50px 0px;
    max-width: 100%;
  }
  .product-stock-sku {
    margin: 10px 0px;
  }
}

.image-container {
  display: flex;
  flex-direction: column; /* For mobile */
  justify-content: center;
  align-items: center;
}

.product-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 100%;
  margin-top: 20px;
}

/* Responsive Image Styles */
.responsive-image {
  width: 100%;
  max-width: 100%; /* Adjust the width to fit the container */
  height: auto;
  max-height: 500px; /* Limit the height for larger screens */
}
.product-info {
  max-width: 50%;
}
/* Media Queries */
@media (min-width: 481px) and (max-width: 768px) {
  /* For tablet devices */
  .main-product-container {
    margin: 30px 0;
  }
}

@media (min-width: 769px) {
  /* For desktop devices */
  .main-product-container {
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .image-container {
    flex-direction: row;
  }

  .product-header {
    width: 50%;
    text-align: left;
    margin-top: 0;
    padding-left: 20px;
  }
}

/* productDetailStyle.css */
/* For desktop devices */
.responsive-image {
  width: 100%; /* Adjust the width to fit the container */
  max-height: 500px;
  height: auto; /* Maintain aspect ratio */
}

/* For tablet devices (example: iPad) */
@media only screen and (max-width: 768px) {
  .responsive-image {
    /* Adjust image size for tablets */
    max-width: 100%;
    height: auto;
  }
}

/* For mobile devices */
@media only screen and (max-width: 480px) {
  .responsive-image {
    /* Adjust image size for mobile devices */
    max-width: 100%;
    height: auto;
  }
}

/* productDetailStyle.css */
/* ... Your existing CSS rules ... */

/* For mobile devices */
@media only screen and (max-width: 480px) {
  .value {
    font-size: 14px; /* Adjust font size for mobile */
    line-height: 1.5; /* Increase line height for better readability */
    padding: 0 50px; /* Add padding for better spacing */
  }
  .value-customer {
    font-size: 14px; /* Adjust font size for mobile */
    line-height: 1.5; /* Increase line height for better readability */
    padding: 0 50px; /* Add padding for better spacing */
  }
}

/* For tablet devices (example: iPad) */
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .value {
    font-size: 16px; /* Adjust font size for tablets */
    line-height: 1.6; /* Increase line height */
    padding: 0 20px; /* Add padding for better spacing */
  }
  .value-customer {
    font-size: 16px; /* Adjust font size for tablets */
    line-height: 1.6; /* Increase line height */
    padding: 0 20px; /* Add padding for better spacing */
  }
}

/* For desktop devices */
@media only screen and (min-width: 769px) {
  .value {
    font-size: 18px; /* Adjust font size for desktop */
    line-height: 1.7; /* Increase line height */
    max-width: 1100px; /* Limit the width for better readability */
    margin: 0 auto; /* Center align the content */
    padding: 0 0px; /* Add padding for better spacing */
  }
  .value-customer {
    font-size: 18px; /* Adjust font size for desktop */
    line-height: 1.7; /* Increase line height */
    max-width: 1100px; /* Limit the width for better readability */
    margin: 0 auto; /* Center align the content */
    padding: 0 0px; /* Add padding for better spacing */
  }
}

/* For desktop devices */
@media only screen and (min-width: 769px) {
  .image-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start; /* Align images to the left */
    gap: 10px; /* Adjust the gap between the images */
  }
}

.first-image-container,
.second-image-container {
  flex: 1; /* Expand each image container to fill available space */
}

/* productDetailStyle.css */
/* ... Your existing CSS rules ... */

/* For desktop devices */
@media only screen and (min-width: 769px) {
  .main-product-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
  }

  .image-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: flex-start;
  }

  .product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .product-header {
    width: 100%;
    text-align: center;
    margin-top: 20px;
    /* color: blue; */
  }

  .value {
    text-align: center;
    margin-top: 20px;
  }
  .value-customer{
    text-align: center;
    margin-top: 20px;
  }
}

.product-stock-slider-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px 0px;
}

@media (max-width: 780px) {
  .product-stock-slider-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
/* productDetailStyle.css */

/* Default styles */
.custom-select {
  border: 1px solid black; /* Black border */
  border-radius: 5px; /* Border radius */
  padding: 8px; /* Padding */
  width: 100%; /* Full width */
  box-sizing: border-box; /* Include padding and border in width/height */
  margin-bottom: 10px; /* Space between selects */
  margin-right: 20px;
  font-weight: bold;
  font-size: 15px;
}

/* Responsive styles for tablet devices */
@media screen and (max-width: 768px) {
  .custom-select {
    /* Adjust styles for tablets if necessary */
    /* For example: decrease padding or font size */
    padding: 6px;
  }
}

/* Responsive styles for mobile devices */
@media screen and (max-width: 480px) {
  .custom-select {
    /* Adjust styles for mobile if necessary */
    /* For example: decrease padding or font size */
    padding: 4px;
    width:90%;
    margin:8px auto;
  }
}

/* productDetailStyle.css */

/* Quantity section styles */
.product-stock-quantity {
  margin-top: 20px;
  font-size: 16px;
  display: flex;
  align-items: center;
}

.quantity-control {
  display: flex;
  align-items: center;
  margin-left: 10px;
  margin-top: 10px;
  border: 1px solid black;
  border-radius: 10px;
  padding: 0px 10px;
}

.quantity-btn {
  /* background-color: #007bff; */
  color: black;
  border: none;
  padding: 5px 10px;
  font-size: 30px;
  cursor: pointer;
  border-radius: 5px;
}

.quantity-value {
  margin: 0 10px;
  /* font-weight: bold; */
  font-size: 25px;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Media query for tablet devices */
  .product-stock-quantity {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  /* Media query for mobile devices */
  .product-stock-quantity {
    font-size: 12px;
  }
}

/* productDetailStyle.css */

/* Wishlist and Add to Cart button styles */
.product-stock-cart-wishlist {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.wishlist-btn,
.cart-btn {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.wishlist-btn {
  background-color: #007bff;
  color: white;
}

.wishlist-btn:hover {
  background-color: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.cart-btn:hover {
  background-color: none;
  color: black;
  border: 1px solid black;
  border-radius: 5px;
}

.cart-btn {
  background-color: rgb(238, 61, 67);
  color: white;
}

/* Responsive styles */
@media screen and (max-width: 768px) {
  /* Media query for tablet devices */
  .wishlist-btn,
  .cart-btn {
    font-size: 14px;
    padding: 8px 16px;
  }
}

@media screen and (max-width: 480px) {
  /* Media query for mobile devices */
  .wishlist-btn,
  .cart-btn {
    font-size: 12px;
    padding: 6px 12px;
  }
}

.product-stock-reviews {
  width: 70%;
  text-align: center;
  margin-top: 20px;
}

@media (max-width: 780px) {
  .product-stock-reviews {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .header-stock-info{
    font-size: 20px;
  }
}

@media (max-width: 375px) {
  .header-stock-info {
    font-size: 13px;
  }
}

@media (max-width: 414px) {
  .header-stock-info {
    font-size: 13px;
  }
}

/* productDetailStyle.css */

/* Skeleton Loader Styles */
.skeleton {
  display: flex;
  align-items: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 100px;
}

.skeleton-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: #f2f2f2;
  margin-right: 20px;
}

.skeleton-details {
  flex: 1;
}

.skeleton-header {
  height: 20px;
  width: 50%;
  background-color: #f2f2f2;
  margin-bottom: 10px;
}

.skeleton-value {
  height: 10px;
  background-color: #f2f2f2;
  margin-bottom: 8px;
}

/* Define styles for the Load More button */
.load-more-button {
  display: block;
  padding: 10px 20px;
  margin-top: 10px;
  margin-right: auto;
  margin-left: auto;
  border: 1px solid #ccc;
  background-color: rgb(238,61,67);
  color: white;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  width: fit-content; /* Adjust button width based on content */
}

.load-more-button:hover {
  background-color: #e0e0e0;
}

/* Media query for mobile devices */
@media screen and (max-width: 768px) {
  .load-more-button {
    /* Adjust styles for mobile devices */
    padding: 8px 16px;
    font-size: 14px;
    margin:10px auto;
  }
}

/* Media query for tablet devices */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .load-more-button {
    /* Adjust styles for tablets */
    padding: 10px 18px;
    font-size: 16px;
    margin: 0px auto;
  }
}


.size-header{
  margin:25px 0px;
}

.all-size-configurable{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
}

/* @media (max-width: 768px)
{
  .all-size-configurable{
      max-width: 40%;
      margin:0px auto;
  }
} */

.size-button{
  color:black;
  padding:10px 20px;
}

.size-button:hover{
  color:black;
  border:1px solid black;
  border-radius: 0px;
  padding:10px 20px;
}